h1.entry-title {
    font-size: 24px;
    line-height: 1.2;
    margin: 0 0 25px !important;
}

.post-meta-con {
    font-size: 14px;
    color: #999;
}

.b-fmenu a, .post-meta-con {
    position: relative;
}

.post-meta-con .fusion-single-line-meta {
    margin-top: -24px;
    margin-bottom: 15px;
    font-size: 12px;
    line-height: 1.5;
}

.post-meta-con .fusion-addinfo {
    display: block;
    position: absolute;
    right: 0;
    top: 0;
}

.post-meta-con a {
    color: #999;
    padding-left: 20px;
    text-decoration: none;
}

.post-meta-con .fusion-inline-sep, .post-meta-con .fusion-comments {
    display: none;
}

.detail-post .fusion-meta-info {
    clear: both;
    overflow: hidden;
    margin-top: 20px;
    padding: 5px 0;
    border-top: 1px solid #e7e6e6;
    border-bottom: 1px solid #e7e6e6;
    font-size: 12px;
}

.fusion-meta-info {
    font-size: 12px;
}

.fusion-inline-sep {
    padding: 0 5px;
}

.fusion-meta-info a {
    color: #000000;
    text-decoration: none;
}

.fusion-meta-info-wrapper .fusion-addinfo, .post-meta-con .fusion-addinfo {
    display: block;
    position: absolute;
    right: 0;
    top: 0;
}

.fusion-meta-info-wrapper {
    position: relative;
}

.ll-post-tag-con {
    margin-top: 20px;
    margin-bottom: -38px;
}

.ll-post-tag-text {
    padding-right: 8px;
    margin-top: 7px;
    display: inline-block;
}

.ll-post-tag {
    display: inline-block;
    vertical-align: top;
    margin-right: 3px;
    border: 1px solid #ccc;
    height: 30px;
    line-height: 28px;
    border-radius: 0;
    padding: 0 10px;
    font-size: 13px;
    color: #333 !important;
    text-decoration: none;
}

.ll-post-tag:hover {
    border-color: #31be83;
    color: #fff !important;
    background: #31be83;
}

.fusion-sharing-box {
    display: table;
    margin-bottom: 55px;
    padding: 20px;
    height: 70px;
    width: 100%;
    background-color: #f6f6f6;
}

.fusion-sharing-box {
    margin-bottom: 0;
    margin-top: 60px;
}

.fusion-single-sharing-box {
    background-color: #f6f6f6;
}

.post * {
    box-sizing: border-box;
}

.fusion-sharing-box h4 {
    color: #333333;
    font-size: 13px;
    font-weight: 400;
    line-height: 1.5;
}

.fusion-sharing-box .fusion-social-networks, .fusion-sharing-box h4 {
    display: table-cell;
    vertical-align: middle;
}

.single-related-posts {
    clear: both;
}

.about-author, .related-posts {
    margin-top: 55px;
}

.related-posts .fusion-title h3 {
    font-size: 18px;
    line-height: 1.5;
    padding-right: 8px;
    text-align: left;
    color: #333333;
    font-weight: 400;
    margin-bottom: 0;
}

.fusion-title .title-sep-container {
    position: relative;
    height: 6px;
    -webkit-flex-grow: 1;
    -ms-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
}

.fusion-title .title-sep.sep-double {
    height: 6px;
    border-bottom-width: 1px;
    border-top-width: 1px;
}

.fusion-title .title-sep, .fusion-title.sep-underline, .product .product-border {
    border-color: #e0dede;
}

.fusion-title .title-sep {
    position: relative;
    width: 100%;
    border: 0 solid #e7e6e6;
    box-sizing: content-box;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    -o-box-sizing: content-box;
}

.fusion-title {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-align-items: center;
    -ms-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    margin: 0 0 31px;
}

.fusion-carousel-item {
    display: block;
    float: left;
    padding: 0;
    width: 23%;
    margin-left: 2.6%;
}

.fusion-carousel-item:first-child {
    margin-left: 0;
}

.fusion-carousel-item .fusion-carousel-item-wrapper {
    display: inline-block;
    vertical-align: middle;
    width: 100%;
    line-height: normal;
}

.fusion-image-size-fixed {
    display: inline-block;
    max-width: 100%;
    vertical-align: top;
}

.fusion-carousel-item img {
    vertical-align: middle;
    width: 100%;
    height: auto;
}

.fusion-carousel-title {
    margin: 15px 0 3px;
    color: #333333;
    font-size: 13px;
    font-weight: 400;
}

.fusion-carousel-title a {
    color: #000000;
    line-height: 1.5;
    text-decoration: none;
}

.fusion-carousel-meta {
    font-size: 12px;
}

#posts-container .fusion-post-wrapper {
    border: 1px solid #ebeaea;
    border-bottom-width: 3px;
}

#posts-container .fusion-flexslider .slides img {
    display: block;
    width: 100%;
    height: auto;
}

#posts-container .post {
    width: 50%;
    padding: 20px;
    display: inline-block;
    float: left;
    box-sizing: border-box;
    z-index: 3;
    background: #fff;
}

#posts-container .flexslider .slides:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

#posts-container ul {
    margin-bottom: 0;
}

#posts-container .fusion-post-content-wrapper {
    padding: 30px 25px 0;
}

#posts-container .fusion-post-content > h2.entry-title {
    font-size: 18px;
    line-height: 27px;
    color: #333333;
    font-weight: 400;
    margin-top: 0;
    margin-bottom: 5px;
}

#posts-container .post-content a {
    text-decoration: underline;
    color: #000000;
}

.post-content p {
    margin-top: 0;
    margin-bottom: 20px;
    font-size: 16px;
    line-height: 1.5;
    color: #000;
}

#posts-container .fusion-content-sep {
    margin-top: 20px;
    height: 3px;
    opacity: .5;
    border-top: 2px solid #8BCA1E !important;
    border-bottom: none !important;
}

#posts-container .fusion-post-content-container {
    margin-top: 20px;
}

#posts-container .fusion-single-line-meta {
    font-size: 12px;
    line-height: 1.5;
}

#posts-container .fusion-inline-sep {
    padding: 0 5px;
}

#posts-container .fusion-post-content {
    word-wrap: break-word;
    font-size: 16px;
    line-height: 1.5;
}

#posts-container .fusion-meta-info {
    margin-bottom: 20px;
    clear: both;
    overflow: hidden;
    margin-top: 20px;
    padding: 5px 0;
    font-size: 12px;
}

#posts-container .fusion-meta-info a {
    color: #000;
    position: relative;
}

#posts-container .fusion-meta-info .fusion-alignleft {
    width: 50%;
    display: inline;
    float: left;
    margin-right: 15px;
}

#posts-container .fusion-alignright {
    display: inline;
    float: right;
    margin-left: 15px;
}

.ya-share2 {
    text-align: right;
}

.ias-trigger {
    position: absolute;
    width: 100%;
    bottom: -15px;
}

.blog-post-items .fusion-meta-info {
    border: none;
}

.blog-post-items .post {
    margin-bottom: 0;
}

.blog-post-items {
    margin-left: -20px !important;
    margin-right: -20px !important;
    margin-top: -20px;
}

.fusion-carousel-holder {
    padding-left: 0;
}

#comment-input > div {
    margin-bottom: 10px;
}

#comment-input > div input {
    width: 100%;
    float: none;
}

#blog-comments-form #comment-input {
    position: static;
}

#blog-comments-form #commentform {
    padding-top: 0;
}

#blog-comments .commentlist {
    margin-bottom: 0;
}

#comment-submit:disabled {
    opacity: 0.5;
}

.comment + #blog-comments-form {
    margin-bottom: 25px;
}

#emailSub-output {
    margin-top: 10px;
}

#emailSub-output.success {
    color: #8BCA1E;
}

#emailSub-output.error {
    color: #a94442;
}

.EmailSubscriptionWidget .submit:disabled {
    opacity: .5;
}

.fusion-carousel-title{
    margin-bottom: 0;
}

.fusion-carousel-title p{
    margin-bottom: 0;
}

.fusion-carousel-meta{
    margin-top: 10px;
}